p {
	font-family: Helvetica, Arial;
	font-size: 1.1rem;
	color: #262626;
}

h2, h3 {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 40px;
	border-bottom: 1px solid lightgrey;
	color: #262626;
}

code {
	background: hsl(280, 50%, 90%);
	color: black;
}

.jumbotron {
	background-color: #98999b;
}

.container-fluid {
	background-color: #510c76;
}

.italics {
	font-style: italic;
}


